@model TESTE.Models.ListarArquivosViewModel;

<table class="table">
    <thead>
        <tr>
            <td>Id:</td>
            <td>Nome Arquivo:</td>
            <td>Data de cadastro:</td>
            <td>Excluir</td>
            <td>Gerar Arquivo</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Arquivos)
        {
            <tr data-id="@item.id_conteudo_arquivo">
                <td>@item.id_conteudo_arquivo</td>
                <td>@item.nm_arquivo</td>
                <td>@item.dt_cadastro</td>
                <td>
                    <input type="button" value="Excluir" class="btn-danger excluir">
                </td>

                <td>
                    <a href="Gerar/@item.id_conteudo_arquivo" value="Gerar" class="btn-success gerar">Gerar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">

    $(".excluir").on("click", function () {

        let id = $(this).closest("tr").data("id");

        let linha = $(this);

        if (confirm("Deseja realmente excluir") == true) {

            $.post("Excluir/", { id: id }, function (retorno) {

                if (retorno.flSucesso) {

                    if (retorno.arquivoEncontrado) {

                        console.log(this);

                        linha.closest("tr").remove();

                        alert("Arquivo excluído");

                    } else {

                        alert("Arquivo nao encontrado");
                    }

                } else {

                    alert(retorno.mensagem);
                }
            });

        } else {

            alert("Selecionou não excluir");
        }
    });

</script>